@using BDProject_MarathonesApp.ViewModels
@model RaceDetailsVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Race.Name
        <small>Secondary Text</small>
    </h1>
    
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://via.placeholder.com/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Opis</h3>
            <p>@Model.Race.Description</p>
            <h3 class="my-3">Dystans</h3>
            <p>@Model.Race.Distance km</p>
            <h3 class="my-3">Adres</h3>
            <style>
                ul {
                    list-style-type: none;
                    padding: 0;
                }
                li {
                    margin-bottom: 5px;
                }
            </style>

            <ul>
                <li>@Model.Race.Address.Region</li>
                <li>@Model.Race.Address.City @Model.Race.Address.PostalCode</li>
                <li> @Model.Race.Address.Street</li>
                @if (Model.Race.Address.BuildingNumber is not null)
                {
                    <li>@Model.Race.Address.BuildingNumber</li>
                }
            </ul>

            <form method="post" action="@Url.Action("SignForARun", "Race")">
                <input type="hidden" name="id" value="@Model.Race.Id" />
                <input type="hidden" name="userId" value="@Model.UserId" />
                <button type="submit" class="btn btn-primary">Zapisz się na bieg</button>
            </form>

        </div>

    </div>
    
   

   

</div>
<!-- /.container -->