@using BDProject_MarathonesApp.ViewModels
@model RaceIndexVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Index" asp-route-id="@Model.UserId">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Result" asp-action="Index" asp-route-id="@Model.UserId">Wyniki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Club" asp-action="Index" asp-route-userId="@Model.UserId">Klub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Race" asp-action="Index" asp-route-id="@Model.UserId">Moje zgłoszenia</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Profile" asp-route-id="@Model.UserId">Moje Konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2 class="m-5">Twoje zgłoszenia:</h2>
    <div class="list-group m-4 d-flex">
        @if (Model.Participants != null && Model.Participants.Any())
        {
            @foreach (var item in Model.Participants)
            {
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 gap-4">
                        <h6 class="fs-6">@item.StartingNumber</h6>
                        <div class="flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h3 class="mb-1">@item.Race.Name</h3>

                            </div>

                            
                             <p class=" list-group-item-text">@item.User.Name @item.User.LastName</p>
                            

                        </div>
                    </div>
                    <form method="post" asp-controller="Race" asp-action="DeleteParticipant" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger">Wypisz się z biegu</button>
                    </form>
                </div>
                

            }
        }
        else
        {
            <h3>Nie ma żadnych zgłoszeń</h3>
        }

    </div>
</div>
