@using BDProject_MarathonesApp.ViewModels
@model ProfileVM

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="m-4">
	<div class="container">
		<div class="row gutters">
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
				<!-- Left column with user profile info -->
				<div class="card h-100">
					<div class="card-body">
						<div class="account-settings">
							<div class="user-profile">
								<div class="user-avatar">
									<img src="https://img.freepik.com/premium-wektory/ikona-awatara002_750950-52.jpg" alt="Card image">
								</div>
								<h5 class="user-name">@Model.Name</h5>
								<h5 class="user-name">@Model.LastName</h5>
								<h6 class="user-email">@Model.Login</h6>
							</div>
						</div>

						<div class="row gutters text-center m-4">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<form method="post" asp-controller="Home" asp-action="DeleteUser" asp-route-id="@Model.UserId">
										<button type="submit" class="btn btn-danger">Usuń konto</button>
									</form>
									<button type="button" id="submit" name="submit" class="m-3 btn btn-secondary" onclick="location.href='@Url.Action("Index", "Home", new {Id = Model.UserId})'">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Right column with form -->
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
				<form method="post" asp-action="UpdateUserProfile">
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="card h-100">
						<div class="card-body">

							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mb-2 text-primary">Szczegóły Użytkownika</h6>
								</div>
								<input type="hidden" asp-for="UserId" name="UserId" />
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="Name">Imie</label>
										<input asp-for="Name" name="Name" class="form-control" placeholder="Enter name">
										<span asp-validation-for="Name" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="LastName">Nazwisko</label>
										<input asp-for="LastName" name="LastName" class="form-control" placeholder="Enter name">
										<span asp-validation-for="LastName" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="Login">Email</label>
										<input asp-for="Login" name="Login" class="form-control" placeholder="Enter name">
										<span asp-validation-for="Login" class="text-danger"></span>
									</div>
								</div>
								
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="Password">Hasło</label>
										<input type="password" name="Password" asp-for="Password" class="form-control" placeholder="Enter name">
										<span asp-validation-for="Password" class="text-danger"></span>
									</div>
								</div>
								<!--        asdsasdsasdsasdsa                  -->
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mb-2 text-primary">Personal Details</h6>
								</div>
								<input type="hidden" asp-for="AddressId" name="AddressId" />
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="Region">Województwo</label>
										<input asp-for="Region" name="Region" class="form-control" placeholder="Enter name">
										<span asp-validation-for="Region" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="City">Miasto</label>
										<input asp-for="City" name="City" class="form-control" placeholder="Enter name">
										<span asp-validation-for="City" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="Street">Ulica</label>
										<input asp-for="Street" name="Street" class="form-control" placeholder="Enter name">
										<span asp-validation-for="Street" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="BuildingNumber">Numer budynku</label>
										<input type="text" asp-for="BuildingNumber" name="BuildingNumber" class="form-control" placeholder="Enter name">
										<span asp-validation-for="BuildingNumber" class="text-danger"></span>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label class="fs-5" asp-for="PostalCode">Kod pocztowy</label>
										<input type="text" asp-for="PostalCode" name="PostalCode" class="form-control" placeholder="Enter name">
										<span asp-validation-for="PostalCode" class="text-danger"></span>
									</div>
								</div>



								

							<div class="row gutters m-4">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="text-right">
										<button type="submit" id="submit" name="submit" class="btn btn-primary" asp-action="UpdateUserProfile">Update</button>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		</div>
	</div>
		
</div>
	
	

	<style>

		body {
			margin: 0;
			padding-top: 0;
			color: #2e323c;
			background: #f5f6fa;
			position: relative;
			height: 100vh;
		}

		.container {
			padding: 0;
		}

		.account-settings .user-profile {
			margin: 0 0 1rem 0;
			padding-bottom: 1rem;
			text-align: center;
		}

			.account-settings .user-profile .user-avatar {
				margin: 0 0 1rem 0;
			}

				.account-settings .user-profile .user-avatar img {
					width: 90px;
					height: 90px;
					-webkit-border-radius: 100px;
					-moz-border-radius: 100px;
					border-radius: 100px;
				}

			.account-settings .user-profile h5.user-name {
				margin: 0 0 0.5rem 0;
			}

			.account-settings .user-profile h6.user-email {
				margin: 0;
				font-size: 0.8rem;
				font-weight: 400;
				color: #9fa8b9;
			}

		.account-settings .about {
			margin: 2rem 0 0 0;
			text-align: center;
		}

			.account-settings .about h5 {
				margin: 0 0 15px 0;
				color: #007ae1;
			}

			.account-settings .about p {
				font-size: 0.825rem;
			}

		.form-control {
			border: 1px solid #cfd1d8;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			font-size: .825rem;
			background: #ffffff;
			color: #2e323c;
		}

		.card {
			background: #ffffff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			border: 0;
			margin-bottom: 1rem;
		}
	</style>
</div>

