@model List<Participant>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="AllRaces">Biegi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="AllUsers">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Admin" asp-action="AllClubs">Kluby</a>
            </li>
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2 class="m-5">Wyniki Biegu:</h2>
    <div class="list-group m-4 d-flex">
        @foreach (var item in Model)
        {
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 gap-4">
                    
                    <div class="flex-column align-items-start">
                        <div class="d-flex w-100 gap-3">
                            <h3 class="mb-1">@item.User.Name @item.User.LastName</h3>
                            <h3>nr startowy: <span class="text-primary">@item.StartingNumber</span></h3>

                        </div>
                        <h4 class="mb-1">@item.Race.Name</h4>
                        @if (item.Race.Address?.City != null)
                        {
                            <p class=" list-group-item-text">@item.Race.Address.City</p>
                        }
                        else
                        {
                            <br />
                        }
                    </div>
                </div>

            </div>

        }
    </div>
</div>
